.price_packs {
  @extend %page;

  // background: $color-grey-light;
  // color: $color-grey-dark;
}

.price_packs__wrapper {
  padding-top: 10rem;
}

.price_packs__header {
  display: flex;
  margin: 18rem auto 3.2rem;
  width: 140rem;

  @include media('<phone') {
    display: block;
    margin-bottom: 12rem;
    margin-top: 24rem;
    width: 88%;
  }
}

.price_packs__title {
  @extend %title-100;

  margin-right: 12rem;
  width: 60.7rem;

  @include media('<phone') {
    margin-right: 0;
    width: 100%;
  }
}

.price_packs__description {
  font-size: 2.08rem;
  line-height: 3.45rem;
  margin-top: 2.2rem;
  padding-right: 2rem;
  width: 60.7rem;

  @include media('<phone') {
    font-size: 3.2rem;
    line-height: 6rem;
    letter-spacing: -0.02rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
    padding-right: 0;
    width: 100%;
  }
}

.price_packs__button {
  @extend %button-arrow__down;

  display: block;
  padding: 3.2rem 0;

  @include media('<phone') {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }
}

.price_packs__packs {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 22rem;
  width: 148.6rem;

  & > * {
    margin: 8rem 5rem;
  }

  @include media('<phone') {
    display: block;
    width: 88%;

    & > * {
      margin: 8rem 0;
    }
  }

  & .packs__pack__info {
    background: rgba(76, 74, 228, 0.26);
    border: 0.3rem solid $color-primary-dark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    &::after {
      content: unset;
    }
  }

  & .packs__pack__info__title {
    @extend %title-24;

    margin-bottom: 6rem;
    padding: 0 2rem;
  }

  & .packs__pack__info__message {
    line-height: 3.9rem;
    margin-bottom: 6rem;
  }

  & .packs__pack__info__button {
    @extend %button-secondary;

    display: block;
    margin: auto;
  }
}
