.packs__pack {
  background-color: $color-primary;
  border-radius: 2rem;
  box-shadow: 0 0 16px rgb(0 0 0 / 25%);
  color: white;
  display: block;
  min-height: 55.5rem;
  padding: 6.5rem;
  position: relative;
  transition: 300ms ease;

  &::after {
    @extend %button-plus;

    bottom: 1.5rem;
    position: absolute;
    right: 4rem;
    transition: 300ms ease;
  }

  &:hover,
  &:focus {
    background-color: $color-primary;
    box-shadow: 0 0 60px rgb(0 0 0 / 25%);
    transform: scale(1.2);
    transition: 600ms ease;

    &::after {
      transform: rotate(180deg) scale(1.2);
    }
  }

  @include media('<phone') {
    min-height: 78rem;
    border-radius: 3.6rem;

    &::after {
      bottom: 6rem;
      right: 5rem;
    }
  }
}

.packs__pack {
  width: 39.2rem;

  @include media('<phone') {
    width: 100%;
  }
}

.packs__pack__title {
  @extend %title-25;
}

.packs__pack__price {
  @extend %title-54;

  margin: 3.6rem 0 2.4rem;
}

.packs__pack__feature {
  line-height: 3.9rem;

  &::before {
    background: url("data:image/svg+xml;charset=utf8,<svg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 6L4 10L9.5 1' stroke='%233be9de' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round'/></svg>")
      center no-repeat;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 1.5rem;
    margin-right: 1.2rem;
    vertical-align: middle;
    width: 1.5rem;
  }

  @include media('<phone') {
    letter-spacing: -0.08rem;
    line-height: 6rem;
  }
}

.swiper-slide {
  width: 39rem !important;
  margin-right: 10rem;

  @include media('<phone') {
    width: 55rem !important;
    margin-right: unset;
  }
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  padding-top: 18rem;
  padding-bottom: 18rem;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-pointer-events {
  touch-action: pan-y;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
