svg.bubble.bubble-bg-white.inactive(width='1532' height='1799' viewbox='0 0 1532 1799' xmlns='http://www.w3.org/2000/svg')
  path(d='M246.488 1051.56C331.739 1489.22 664.186 1686.81 1020.91 1613.52C1497.52 1515.6 1462.04 998.373 1219.54 652.522C1030.43 382.81 1099.01 63.1613 781.306 95.378C539.932 119.854 168.488 534.197 246.488 1051.56Z' fill='white')
