svg.bubble.bubble-secondary(width='493' height='493' viewbox='0 0 493 493' fill='none' xmlns='http://www.w3.org/2000/svg' style='top: -245.18px;')
  path(d='M136.679 98.5457C201.866 51.1819 290.134 51.1819 355.321 98.5457C420.507 145.909 447.783 229.864 422.884 306.5C397.986 383.136 326.575 435.023 246 435.023C165.425 435.023 94.0145 383.136 69.1156 306.5C44.2166 229.864 71.4932 145.909 136.679 98.5457Z' fill='url(#paint0_linear)')
  animate(dur='20s' repeatcount='indefinite' attributename='d' values='\
  M136.679 98.5457C201.866 51.1819 290.134 51.1819 355.321 98.5457C420.507 145.909 447.783 229.864 422.884 306.5C397.986 383.136 326.575 435.023 246 435.023C165.425 435.023 94.0145 383.136 69.1156 306.5C44.2166 229.864 71.4932 145.909 136.679 98.5457Z;\
  M152.499 132C171.999 62.5 250.752 49.0001 272.999 120C295.247 191 303.768 211 369.884 304.5C436 398 345.999 452.045 246 455.023C146 458 118.231 378.5 119.115 306.5C119.999 234.5 132.999 201.5 152.499 132Z;\
  M119.405 115.119C157.809 47.2374 248 36 279.5 95C311 154 269 189.5 383.5 269.5C498 349.5 411.5 460.5 283 431C154.5 401.5 116.5 335 102 291.5C87.5008 248 81.0001 183 119.405 115.119Z;\
  M98.4047 114.119C131 63.5 242 29 269 121C296 213 374 114.119 423 201C472 287.881 404 394 304.5 415.5C205 437 102.001 388 68.5002 307C34.9997 226 65.8095 164.737 98.4047 114.119Z;\
  M180.499 147C284.5 156 284 40.5 345.5 70C407 99.5 444 190 440.5 248C437 306 401.5 403 302 424.5C202.5 446 109.999 404 72.0002 318C34.001 232 76.4994 138 180.499 147Z;\
  M136.679 98.5457C201.866 51.1819 290.134 51.1819 355.321 98.5457C420.507 145.909 447.783 229.864 422.884 306.5C397.986 383.136 326.575 435.023 246 435.023C165.425 435.023 94.0145 383.136 69.1156 306.5C44.2166 229.864 71.4932 145.909 136.679 98.5457Z;' fill='freeze' calcmode='spline' keysplines='0.4 0 0.2 1; 0.4 0 0.2 1; 0.4 0 0.2 1; 0.4 0 0.2 1; 0.4 0 0.2 1;')
  defs
    lineargradient#paint0_linear(x1='240' y1='60' x2='240' y2='440' gradientunits='userSpaceOnUse')
      stop(stop-color='#3BE9DE')
      stop(offset='1' stop-color='#3BE9DE' stop-opacity='0')
      animate(attributename='x1' dur='20s' values='240;255;54;246;54;240' repeatcount='indefinite')
      animate(attributename='y1' dur='20s' values='60;40;45;60;200;60' repeatcount='indefinite')
      animate(attributename='x2' dur='20s' values='240;246;420;246;420;240' repeatcount='indefinite')
      animate(attributename='y2' dur='20s' values='440;460;360;425;360;440' repeatcount='indefinite')
