.approach {
  @extend %page;
}

.approach__body {
  margin: 12rem auto;
  width: 143rem;

  @include media('<phone') {
    width: 88%;
  }
}

.approach__text,
.approach__workflow {
  display: flex;

  @include media('<phone') {
    display: block;
  }
}

.approach__text {
  margin-top: 28rem;
  margin-bottom: 18rem;
}

.approach__title {
  @extend %title-100;

  margin-right: 12rem;
  text-align: left;
  width: 66rem;

  @include media('<phone') {
    margin-bottom: 6rem;
  }
}

.approach__description {
  font-size: 2.07rem;
  line-height: 3.5rem;
  padding-right: 18rem;
  width: 72rem;

  & p {
    margin-bottom: 3.5rem;
  }

  @include media('<phone') {
    font-size: 3.2rem;
    line-height: 6rem;
    letter-spacing: -0.02rem;
    padding-right: 0;
    width: 100%;

    & p {
      margin-bottom: 6rem;
    }
  }
}

.approach__button {
  @extend %button-arrow__down;

  display: block;
  margin-top: -1rem;
  padding: 3rem 0;
}

.approach__workflow__title {
  @extend %title-130;
  @extend %transition-2s;

  color: transparent;
  font-size: 13.5rem;
  margin-right: 12rem;
  text-align: left;
  width: 83rem;
  -webkit-text-stroke: 2px white;

  @include media('<phone') {
    visibility: hidden;
  }
}

.approach__workflow__list {
  width: 69rem;

  & .workflow__item {
    height: 70rem;
    overflow: hidden;
  }

  @include media('<phone') {
    width: 100%;

    .workflow__item {
      height: unset;
      margin-right: 0;
      margin-bottom: 18rem;
      width: 100%;
    }

    .workflow__item__media__image {
      height: 100%;
      width: 100%;
    }
  }
}

.approach__workflow__item__media {
  height: 46rem;
}

.approach__workflow__item__media__image {
  width: 69rem;

  @include media('<phone') {
    width: 100%;
  }
}
