.pack {
  @extend %page;

  // background: $color-grey-light;
  // color: $color-grey-dark;
}

.pack__wrapper {
  padding-top: 10rem;
}

.pack__header,
.pack__details {
  margin: auto;
  width: 140rem;
}

.pack__header {
  display: flex;
  justify-content: space-between;
  padding: 18rem 0 6rem;

  @include media('<phone') {
    display: block;
    width: 88%;
  }
}

.pack__title,
.pack__price {
  @extend %title-120;

  line-height: 1;
}

.pack__price {
  margin-right: 10rem;
}

.pack__price {
  color: $color-secondary;
}

.pack__details {
  border-radius: 3rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  padding: 10.5rem 12rem 6.5rem;
  background: $color-primary;

  @include media('<phone') {
    display: block;
    padding: 6rem;
    width: 88%;
  }
}

.pack__feature {
  width: 33.333333%;
  flex: 0 0 33.333333%;
  margin-bottom: 5rem;

  & h3 {
    @extend %title-24;

    margin-bottom: 2.7rem;
  }

  & .packs__pack__feature {
    line-height: 3.2rem;
  }

  @include media('<phone') {
    width: 100%;
    display: block;
    overflow: hidden;

    .packs__pack__feature {
      transition: 0.6s ease-out;
    }

    &.inactive {
      .packs__pack__feature {
        background-color: red;
        max-height: 0;
      }
    }

    &.active {
      .packs__pack__feature {
        max-height: 15rem;
        background-color: yellow;
      }
    }
  }
}

.two__cols .pack__feature {
  width: 50%;
  flex: 0 0 50%;
}

.pack__overview__button {
  margin: 6rem auto;
  text-align: center;

  & a {
    @extend %button-arrow__down;

    display: block;
    padding: 3rem 0;
  }
}

.pack__highlight {
  background: white;
  color: $color-primary;
  display: flex;
  margin-bottom: 10rem;
  padding: 12rem 26rem;
  width: 166rem;

  @include media('<phone') {
    display: block;
    margin-bottom: 24rem;
    padding: 6%;
    width: 100%;
  }
}

.pack__highlight__icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
  margin-right: 17rem;

  & .icon {
    width: 13rem;

    & .icon__icon {
      margin: auto;
      width: 9rem;

      & svg .path {
        @extend %icon;
      }
    }
  }

  & .icon__title {
    @extend %text-32;

    padding-right: 0;
    margin-top: 1.5rem;
    text-align: center;
  }
}

.pack__highlight__text {
  margin-right: 17rem;
  width: 54.5rem;
}

.pack__highlight__title {
  @extend %title-32;

  margin-bottom: 2.8rem;
}

.pack__highlight__description {
  @extend %text-32;
}

.pack__highlight__media {
  position: relative;
}

.pack__highlight__media__image {
  position: absolute;
  width: 95rem;

  @include media('<phone') {
    position: relative;
    width: 114%;
    left: -7%;
    top: 12rem;
  }
}

.pack__about {
  margin: 5rem auto 7rem;
  width: 140rem;

  @include media('<phone') {
    display: block;
    width: 88%;
  }
}

.pack__about__title {
  font-size: 1.66rem;
  margin-bottom: 14rem;

  &::before {
    background-color: white;
    content: '';
    display: inline-block;
    height: 0.2rem;
    margin-right: 4rem;
    vertical-align: middle;
    width: 9rem;
  }
}

.pack__about__infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media('<phone') {
    display: block;
  }
}

.pack__about__info {
  flex: 0 0 44%;
  margin-bottom: 8rem;
  width: 44%;

  @include media('<phone') {
    width: 100%;
  }
}

.pack__about__info__title {
  @extend %title-32;

  margin-bottom: 2.8rem;
}

.pack__about__info__description {
  padding-right: 4rem;
  line-height: 3rem;
}

.pack__about__info__button {
  @extend %button-primary;

  margin-top: 4.4rem;
}

.pack__start__project {
  @extend %full-height;

  background-color: $color-primary;

  @include media('<phone') {
    position: relative;
  }
}

.pack__start__project__wrapper {
  margin: 5rem auto;
  padding: 12rem 0;
  width: 114rem;

  @include media('<phone') {
    width: 88%;
  }
}

.pack__start__project__title {
  @extend %title-24;

  font-weight: 600;
  margin-bottom: 5rem;
}

.pack__start__project__top {
  display: flex;

  @include media('<phone') {
    display: block;
    width: 100%;
  }
}

.pack__start__project__contacts {
  padding-left: 13rem;
  width: 64rem;

  @include media('<phone') {
    bottom: 0;
    height: 20rem;
    margin-left: 0;
    position: absolute;
    width: 88%;
  }
}

.pack__start__project__contacts__title {
  @extend %title-20;

  margin-bottom: 0.15rem;
  margin-left: 0.7rem;
  margin-top: 1rem;
}

.pack__start__project__contacts__list {
  display: flex;

  & a {
    display: block;
    margin-right: 0.15rem;
    width: 5.2rem;

    & svg {
      fill: white;
    }
  }
}

.pack__start__project__form {
  position: relative;
  width: 75.5rem;

  & > * {
    display: block;
    margin-bottom: 3rem;
    width: 100%;
  }

  @include media('<phone') {
    width: 100%;
  }
}

.pack__start__project__button {
  @extend %button-primary;
  background-color: $color-primary-light;

  border: none;
  margin-top: 1.5rem;
  position: absolute;
  right: 0;
  width: auto;

  @include media('<phone') {
    margin: auto;
    position: unset;
  }
}

.pack__packs__slider {
  background-color: $color-grey-light;
  color: $color-primary;
  padding: 12rem 0 6rem;

  & .packs__slider {
    width: 100%;
  }
}

.pack__packs__title {
  margin: auto;
  margin-bottom: -7rem;
  text-transform: uppercase;
  width: 147rem;

  &::before {
    background-color: $color-primary;
    content: '';
    display: inline-block;
    height: 0.2rem;
    margin-right: 4rem;
    vertical-align: middle;
    width: 9rem;
  }
}
